.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    background-color: azure;
    border-radius: 20px;
}

.left {
    margin-left: 40px ;
}
.right {
    margin-right: 60px;
}